// Vite 프로젝트용 폰트 경로 재정의 파일
// 사용법: import 'podo-ui/vite-fonts.scss';

// 아이콘 폰트
@font-face {
  font-family: 'podo-ui-icon';
  src: url(podo-ui/scss/icon/font/icon.woff) format('woff');
  font-display: swap;
}
