@use '../../mixin' as *;

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &[role='button'] {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.activityRing {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid color('primary');
    border-radius: r(full);
    pointer-events: none;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: r(full);
  overflow: hidden;
  position: relative;
  font-weight: 600;
  user-select: none;

  // Type variations
  &.type-image {
    background-color: transparent;
  }

  &.type-icon,
  &.type-text {
    background-color: color('border');
    color: color('text-sub');
  }

  // Image inside avatar
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Icon styling
  i[class^='icon-'],
  i[class*=' icon-'] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0 !important;
    font-size: inherit;

    &::before {
      font-size: inherit !important;
      line-height: 1;
    }
  }

  // Text styling
  span {
    text-transform: uppercase;
    line-height: 1;
    font-size: inherit;
  }
}
