@use '../../mixin' as *;

.container {
  display: flex;
  min-height: 100vh;
  background: color(bg-elevation);
}

.main {
  flex: 1;
  margin-left: 260px;
  padding: s(7);
  max-width: 1200px;

  @media (max-width: 1024px) {
    margin-left: 0;
    margin-top: 64px;
    padding: s(5);
  }

  @media (max-width: 768px) {
    padding: s(4);
  }
}
