@use '../../mixin' as *;

.menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  position: relative;
  transition: all 0.2s;

  @media (max-width: 1024px) {
    display: flex !important;
  }

  i {
    color: color(default-deep-base);
    font-size: 24px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    background: color(default-hover);
    border-radius: r(2);

    i {
      color: color(primary-base);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
