@use '../../mixin' as *;

.toggle {
  display: flex;
}

.currentMode {
  display: flex;
  align-items: center;
  gap: s(2);
  padding: s(3) s(4);
  background: color(bg-elevation-1);
  border-radius: r(2);
  border: 1px solid color(default-outline);
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;

  &:hover {
    background: color(default-hover);
    border-color: color(primary-base);
  }

  i {
    font-size: 16px;
    color: color(primary-base);
  }

  span {
    @include p4;
    font-weight: 600;
    color: color(default-deep-base);
  }
}
