.context {
  strong,
  b {
    font-weight: bold;
  }
  em,
  i:not([class]) {
    font-style: italic;
  }
  u {
    text-decoration: underline;
  }
  s,
  strike,
  del {
    text-decoration: line-through;
  }

  // Display styles
  .__se__format__replace_display1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
  .__se__format__replace_display2 {
    font-size: 54px;
    line-height: 1.2;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
  .__se__format__replace_display3 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  .__se__format__replace_display4 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  .__se__format__replace_display5 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
  .__se__format__replace_display6 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  .__se__format__replace_display7 {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
