@use '../color/function' as *;

@mixin button-status($type) {
  &:hover {
    color: color($type + '-hover');
  }
  &:active {
    color: color($type + '-pressed');
  }
}

button {
  color: color('default-reverse');
  background-color: color('default');
  border: 1px solid color('default');
  outline: none;
  justify-content: center;
  &:hover {
    background-color: color('default-hover');
  }
  &:active {
    background-color: color('default-pressed');
  }
  &:focus-visible:not(:disabled) {
    outline: 4px solid color('default-outline');
  }

  // default fill (works with just "fill" class or "default fill")
  &.fill:not(.primary):not(.default-deep):not(.info):not(.link):not(.success):not(.warning):not(.danger) {
    color: color('default-reverse');
    background-color: color('default-fill');
    border: 1px solid color('border');
    @include button-status('default');

    &:hover {
      color: color('default-reverse');
      border: 1px solid color('border-hover');
    }
    &:active {
      color: color('default-reverse');
      border: 1px solid color('border-pressed');
    }
    &:focus {
      border: 1px solid color('border-focus');
    }
  }

  // default border (works with just "border" class or "default border")
  &.border:not(.primary):not(.default-deep):not(.info):not(.link):not(.success):not(.warning):not(.danger) {
    color: color('default-reverse');
    background-color: transparent;
    border: 1px solid color('border');
    @include button-status('default');

    &:hover {
      color: color('default-reverse');
      border: 1px solid color('border-hover');
    }
    &:active {
      color: color('default-reverse');
      border: 1px solid color('border-pressed');
    }
    &:focus {
      border: 1px solid color('border-focus');
    }
  }

  // default text (works with just "text" class or "default text")
  &.text:not(.primary):not(.default-deep):not(.info):not(.link):not(.success):not(.warning):not(.danger) {
    color: color('text-action');
    background-color: transparent;
    border: none;

    &:hover {
      color: color('text-action-hover');
    }
    &:active {
      color: color('text-action-pressed');
    }
    &:focus {
      color: color('text-action-focus');
    }
  }

  // disabled states
  &:disabled {
    color: color('text-action-disabled');
    background-color: color('bg-disabled');
    border: 1px solid color('bg-disabled');
    cursor: not-allowed;
  }

  &.border:disabled {
    color: color('text-action-disabled');
    background-color: transparent;
    border: 1px solid color('border-disabled');
    cursor: not-allowed;
  }

  &.fill:disabled {
    color: color('text-action-disabled');
    background-color: color('bg-disabled');
    border: 1px solid color('border-disabled');
    cursor: not-allowed;
  }

  &.text:disabled {
    color: color('text-action-disabled');
    background-color: transparent;
    border: none;
    outline: none;
    cursor: not-allowed;
  }

  // text alignment
  &.text-left {
    justify-content: flex-start;
  }

  &.text-right {
    justify-content: flex-end;
  }
}

// color variants
@each $type in (primary, default-deep, info, link, success, warning, danger) {
  button:not(:disabled).#{$type} {
    color: color($type + '-reverse');
    background-color: color($type);
    border: 1px solid color($type);
    outline: none;

    &:hover {
      background-color: color($type + '-hover');
    }
    &:active {
      background-color: color($type + '-pressed');
    }
    &:focus-visible:not(:disabled) {
      outline: 4px solid color($type + '-outline');
    }

    // fill style
    &.fill {
      color: color($type);
      background-color: color($type + '-fill');
      border: 1px solid color($type);
      @include button-status($type);

      &:hover {
        border: 1px solid color($type + '-hover');
      }
      &:active {
        border: 1px solid color($type + '-pressed');
      }
      &:focus-visible:not(:disabled) {
        outline: 4px solid color($type + '-outline');
      }
    }

    // border style
    &.border {
      color: color($type);
      background-color: transparent;
      border: 1px solid color($type);
      @include button-status($type);

      &:hover {
        border: 1px solid color($type + '-hover');
      }
      &:active {
        border: 1px solid color($type + '-pressed');
      }
      &:focus-visible:not(:disabled) {
        outline: 4px solid color($type + '-outline');
      }
    }

    // text style
    &.text {
      color: color($type);
      background-color: transparent;
      border: none;
      @include button-status($type);

      &:focus-visible:not(:disabled) {
        outline: 4px solid color($type + '-outline');
      }
    }
  }
}

// default-deep overrides
button:not(:disabled).default-deep {
  // fill style - uses border color
  &.fill {
    color: color('text-body');
    border: 1px solid color('border');
    &:hover {
      color: color('text-body');
      border: 1px solid color('border-hover');
    }
    &:active {
      border: 1px solid color('border-pressed');
    }
  }
  // border style - uses default-deep color for border
  &.border {
    color: color('text-body');
    border: 1px solid color('default-deep');
    &:hover {
      color: color('text-body');
      border: 1px solid color('default-deep-hover');
    }
    &:active {
      border: 1px solid color('default-deep-pressed');
    }
  }
  // text style - no border
  &.text {
    color: color('text-body');
    &:hover {
      color: color('text-body');
    }
  }
}
