@use '../layout/spacing' as *;
@use '../layout/radius' as *;
@use '../typo/mixin' as *;

button {
  @include p3;
  & {
    display: inline-flex;
    align-items: center;
    gap: s(2);
    border-radius: r(3);
    padding: s(3) s(5);
    &.xxs {
      @include p5;
      & {
        border-radius: r(2);
        padding: 0 s(2);
        height: 27px;
        > i::before {
          font-size: 16px;
        }
      }
    }
    &.xs {
      @include p4;
      & {
        border-radius: r(2);
        padding: 0 s(3);
        height: 30px;
        > i::before {
          font-size: 20px;
        }
      }
    }
    &.sm {
      padding: 0 s(3);
      height: 42px;
    }
    &.md {
      @include p2;
      & {
        border-radius: r(5);
        padding: 0 s(4);
        height: 56px;
      }
    }
    &.lg {
      @include p1;
      & {
        border-radius: r(6);
        padding: 0 s(5);
        height: 66px;
      }
    }
  }
}
